streamlit
pyngrok
pydub
sounddevice
wavio
numpy
openai-whisper
PyAudio
SpeechRecognition
deep-translator
joblib
pandas
Pillow
praw
protobuf
pytesseract
Requests
scikit-learn
google-generativeai
librosa
tensorflow
numpy
xgboost
opencv-python
matplotlib
tweepy
deepface
tf_keras
transformers
torch
